.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview {
	position: relative;
	display: block;
}

.fl-module-video-lightbox .bbvl-preview-wrap:hover .bbvl-preview-icon {
	animation: none;
}

.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview-icon i {
	line-height: 80px;
	font-size: 40px;
	transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding-left: 8px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview-image {
	position: relative;
	line-height: 0;
}

.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview-image img{
	width: 100%;
	height: auto;
}

.fl-module-video-lightbox .bbvl-preview-wrap .bbvl-preview-image:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}

@-webkit-keyframes play-icon-fade-in {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}

@-moz-keyframes play-icon-fade-in {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}

@-o-keyframes play-icon-fade-in {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}

@keyframes play-icon-fade-in {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}
